@import '../../../generics.scss';

.navMenu {
    width: 90%;
    height: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 70px;
    right: 94px;
    transition: all 500ms ease;
    background-color: #DEE7EC;
    opacity: 0;
    visibility: hidden;
    transform: translateX(40%);

    .btnMenu {
        border: 0;
        background-color: transparent;
        color: $primary-color;
        font-size: 1.1rem;
        font-family: $general-text;
        font-weight: bold;
    }
}

.navMenuView {
    opacity: 100%;
    visibility: visible;
    transform: translateX(-69%);
}